# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('BreastCancer')

In [4]:
X.shape

(569, 30)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [6]:
iteration = 10
res_knn_tsne = []
res_rfc_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_knn_tsne.append(DA.Knn(X_tsne, y, 5))
    res_rfc_tsne.append(DA.RFC(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [7]:
pd.DataFrame(res_knn_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.912281  0.915426  0.912281  0.912721
1  0.921053  0.922977  0.921053  0.921369
2  0.921053  0.922977  0.921053  0.921369
3  0.921053  0.922977  0.921053  0.921369
4  0.921053  0.922977  0.921053  0.921369
5  0.921053  0.922977  0.921053  0.921369
6  0.921053  0.922977  0.921053  0.921369
7  0.929825  0.930805  0.929825  0.930024
8  0.921053  0.922977  0.921053  0.921369
9  0.921053  0.922977  0.921053  0.921369

In [8]:
pd.DataFrame(res_rfc_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.929825  0.929825  0.929825  0.929825
1  0.947368  0.947368  0.947368  0.947368
2  0.938596  0.938929  0.938596  0.938689
3  0.938596  0.938929  0.938596  0.938689
4  0.929825  0.929825  0.929825  0.929825
5  0.938596  0.938929  0.938596  0.938689
6  0.938596  0.938540  0.938596  0.938494
7  0.947368  0.947368  0.947368  0.947368
8  0.929825  0.929825  0.929825  0.929825
9  0.947368  0.947368  0.947368  0.947368

# Applying UMAP

In [9]:
iteration = 10
res_knn_umap = []
res_rfc_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_knn_umap.append(DA.Knn(X_umap, y, 5))
    res_rfc_umap.append(DA.RFC(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_knn_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.929825  0.930805  0.929825  0.930024
1  0.929825  0.930805  0.929825  0.930024
2  0.929825  0.930805  0.929825  0.930024
3  0.921053  0.922977  0.921053  0.921369
4  0.921053  0.922977  0.921053  0.921369
5  0.938596  0.938929  0.938596  0.938689
6  0.921053  0.922977  0.921053  0.921369
7  0.929825  0.930805  0.929825  0.930024
8  0.921053  0.922977  0.921053  0.921369
9  0.912281  0.915426  0.912281  0.912721

In [11]:
pd.DataFrame(res_rfc_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.929825  0.930805  0.929825  0.930024
1  0.956140  0.956146  0.956140  0.956067
2  0.938596  0.938929  0.938596  0.938689
3  0.947368  0.947368  0.947368  0.947368
4  0.912281  0.913349  0.912281  0.912530
5  0.947368  0.947368  0.947368  0.947368
6  0.921053  0.921435  0.921053  0.921171
7  0.929825  0.929825  0.929825  0.929825
8  0.938596  0.938929  0.938596  0.938689
9  0.938596  0.938929  0.938596  0.938689