# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('Coil20')

In [4]:
X.shape

(1440, 16385)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [6]:
iteration = 10
res_knn_tsne = []
res_rfc_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_knn_tsne.append(DA.Knn(X_tsne, y, 5))
    res_rfc_tsne.append(DA.RFC(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [7]:
pd.DataFrame(res_knn_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.986111  0.987076  0.986111  0.986137
1  0.986111  0.988387  0.986111  0.986153
2  0.986111  0.987489  0.986111  0.986095
3  0.993056  0.994048  0.993056  0.993106
4  0.996528  0.996721  0.996528  0.996495
5  0.993056  0.994124  0.993056  0.993128
6  0.989583  0.990845  0.989583  0.989623
7  0.993056  0.994124  0.993056  0.993128
8  0.986111  0.988610  0.986111  0.985880
9  0.989583  0.990845  0.989583  0.989623

In [8]:
pd.DataFrame(res_rfc_tsne,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.979167  0.979541  0.979167  0.978825
1  0.989583  0.989776  0.989583  0.989550
2  0.989583  0.990236  0.989583  0.989511
3  0.986111  0.988095  0.986111  0.985719
4  0.993056  0.993516  0.993056  0.993039
5  0.989583  0.991667  0.989583  0.989658
6  0.993056  0.993056  0.993056  0.993056
7  0.989583  0.990358  0.989583  0.989617
8  0.996528  0.996795  0.996528  0.996545
9  0.989583  0.990919  0.989583  0.989438

# Applying UMAP

In [9]:
iteration = 10
res_knn_umap = []
res_rfc_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_knn_umap.append(DA.Knn(X_umap, y, 5))
    res_rfc_umap.append(DA.RFC(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_knn_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.934028  0.937884  0.934028  0.935212
1  0.909722  0.910813  0.909722  0.907569
2  0.920139  0.926231  0.920139  0.920204
3  0.930556  0.936611  0.930556  0.932123
4  0.930556  0.936035  0.930556  0.931601
5  0.930556  0.936611  0.930556  0.932123
6  0.888889  0.895446  0.888889  0.888790
7  0.913194  0.916119  0.913194  0.913352
8  0.927083  0.930446  0.927083  0.926946
9  0.906250  0.908694  0.906250  0.905630

In [11]:
pd.DataFrame(res_rfc_umap,columns =['Acc','Pre','Rec','F1'])

        Acc       Pre       Rec        F1
0  0.951389  0.953089  0.951389  0.951476
1  0.951389  0.953579  0.951389  0.949950
2  0.937500  0.944740  0.937500  0.937301
3  0.944444  0.943223  0.944444  0.942872
4  0.923611  0.927838  0.923611  0.924619
5  0.937500  0.939280  0.937500  0.937217
6  0.913194  0.914279  0.913194  0.911551
7  0.937500  0.941032  0.937500  0.938194
8  0.934028  0.934745  0.934028  0.933192
9  0.913194  0.919249  0.913194  0.911881