# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('Jurkat')

In [4]:
X.shape

(3364, 2423)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [9]:
iteration = 10
res_kmeans_tsne = []
res_agglomerative_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_kmeans_tsne.append(DA.kmeans(X_tsne, y))
    res_agglomerative_tsne.append(DA.Agglomerative(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_kmeans_tsne,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.227229  0.311227  0.398189          0.353015              0.829703
1  0.215624  0.300889  0.391039          0.353127              0.832685
2  0.214752  0.300298  0.388814          0.354370              0.822950
3  0.233439  0.316661  0.397573          0.351455              0.825428
4  0.230508  0.314091  0.404419          0.351628              0.826951
5  0.223468  0.308001  0.394262          0.352752              0.825153
6  0.216949  0.302015  0.385748          0.345985              0.843589
7  0.220323  0.305192  0.393834          0.352380              0.829291
8  0.218823  0.303650  0.390171          0.351093              0.833839
9  0.219678  0.304468  0.392208          0.352276              0.828814

In [11]:
pd.DataFrame(res_agglomerative_tsne,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.224856  0.312763  0.391730          0.307435              0.904513
1  0.198282  0.283981  0.373207          0.278939              0.962302
2  0.205692  0.294423  0.380747          0.291646              0.922838
3  0.203922  0.290471  0.379513          0.297245              0.910662
4  0.233642  0.321621  0.403424          0.272081              0.972968
5  0.220209  0.304157  0.392368          0.283577              0.976862
6  0.227974  0.317475  0.389241          0.290526              0.899499
7  0.223002  0.311387  0.391043          0.265976              0.973226
8  0.234919  0.319620  0.394577          0.270234              0.959701
9  0.228841  0.313064  0.395046          0.287143              0.951675

# Applying UMAP

In [15]:
iteration = 10
res_kmeans_umap = []
res_agglomerative_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_kmeans_umap.append(DA.kmeans(X_umap, y))
    res_agglomerative_umap.append(DA.Agglomerative(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [16]:
pd.DataFrame(res_kmeans_umap,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.171854  0.258747  0.358800          0.332180              0.898355
1  0.179691  0.266473  0.367266          0.336690              0.874709
2  0.178040  0.265188  0.365943          0.345047              0.848924
3  0.166761  0.254282  0.356773          0.342625              0.856813
4  0.179408  0.266389  0.364738          0.338370              0.869303
5  0.159704  0.248126  0.350423          0.329477              0.910367
6  0.172805  0.259596  0.358691          0.341136              0.857107
7  0.175716  0.262435  0.362805          0.335932              0.865873
8  0.169974  0.257886  0.352847          0.350364              0.827353
9  0.169034  0.256943  0.354287          0.355575              0.804465

In [17]:
pd.DataFrame(res_agglomerative_umap,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.171103  0.259182  0.355387          0.280079              1.025908
1  0.168476  0.258209  0.353366          0.282316              0.933880
2  0.176563  0.265115  0.359830          0.298751              0.912957
3  0.163664  0.253110  0.352432          0.305283              0.915686
4  0.169040  0.259190  0.356867          0.302304              0.912059
5  0.166978  0.256261  0.345872          0.298925              0.885587
6  0.168274  0.258620  0.358796          0.279861              0.950975
7  0.176804  0.264979  0.356639          0.308156              0.886074
8  0.157657  0.247407  0.347662          0.279511              0.906229
9  0.173387  0.263938  0.358883          0.287805              0.936073