# Importing libraries

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import Datasets as DS
import Methods as Md
import AutoEncoder as ae
import DownstreamAnalysis as DA
from sklearn.metrics.pairwise import euclidean_distances

C:\Users\Chayan\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Loading data

In [3]:
X,y = DS.LoadData('Usoskin')

In [4]:
X.shape

(621, 4184)

In [5]:
y = y.reshape((y.shape[0],))

# Applying T-SNE

In [9]:
iteration = 10
res_kmeans_tsne = []
res_agglomerative_tsne = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_tsne = Md.UseMethod('TSNE', X)
    res_kmeans_tsne.append(DA.kmeans(X_tsne, y))
    res_agglomerative_tsne.append(DA.Agglomerative(X_tsne, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [10]:
pd.DataFrame(res_kmeans_tsne,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.213363  0.285546  0.439879          0.319766              0.813880
1  0.202538  0.276298  0.402735          0.317549              0.830128
2  0.295865  0.362929  0.499934          0.344037              0.817368
3  0.232692  0.304151  0.444314          0.315481              0.847999
4  0.320117  0.383298  0.518466          0.354392              0.813043
5  0.228306  0.301333  0.441318          0.319403              0.769874
6  0.290614  0.356805  0.496114          0.332605              0.848362
7  0.225994  0.297200  0.448157          0.313586              0.827136
8  0.232104  0.303235  0.435892          0.317285              0.819113
9  0.233097  0.304312  0.431046          0.314910              0.830529

In [11]:
pd.DataFrame(res_agglomerative_tsne,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.231179  0.306025  0.427298          0.249357              0.873592
1  0.187748  0.262359  0.412455          0.233837              0.995873
2  0.317719  0.382080  0.509985          0.276280              0.881779
3  0.227469  0.304485  0.437792          0.260657              0.913396
4  0.322738  0.386145  0.515383          0.326337              0.856773
5  0.195175  0.273218  0.410574          0.266297              0.824677
6  0.292035  0.359820  0.502684          0.295435              0.878431
7  0.224459  0.298084  0.426014          0.237057              0.968199
8  0.222148  0.297933  0.437561          0.269118              0.894646
9  0.242851  0.315752  0.424292          0.252008              0.913176

# Applying UMAP

In [15]:
iteration = 10
res_kmeans_umap = []
res_agglomerative_umap = []
for i in range(iteration):
    print("Iteration {}".format(i+1))
    X_umap = Md.UseMethod('UMAP', X)
    res_kmeans_umap.append(DA.kmeans(X_umap, y))
    res_agglomerative_umap.append(DA.Agglomerative(X_umap, y))

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10

In [16]:
pd.DataFrame(res_kmeans_umap,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.284976  0.351578  0.448636          0.353023              0.828428
1  0.302116  0.366480  0.468004          0.353169              0.837414
2  0.288857  0.354305  0.458702          0.351191              0.840007
3  0.265201  0.333127  0.427512          0.355869              0.814599
4  0.284628  0.350597  0.461215          0.351425              0.832054
5  0.279928  0.346556  0.446777          0.366147              0.802822
6  0.273888  0.340855  0.446973          0.351183              0.821573
7  0.286221  0.351979  0.455905          0.350516              0.820970
8  0.288227  0.353583  0.466583          0.352751              0.838195
9  0.255567  0.324046  0.425297          0.353067              0.813922

In [17]:
pd.DataFrame(res_agglomerative_umap,columns =['ARI','FMI','NMI','Silhouette_score','Davies_bouldin_score'])

        ARI       FMI       NMI  Silhouette_score  Davies_bouldin_score
0  0.253396  0.323778  0.437538          0.318713              0.904205
1  0.285546  0.352914  0.465296          0.309320              0.903963
2  0.253727  0.322865  0.437511          0.297516              0.925009
3  0.242123  0.313297  0.441053          0.309602              0.825803
4  0.301870  0.366623  0.456824          0.317215              0.868207
5  0.275217  0.342505  0.441568          0.310025              0.876891
6  0.246942  0.317437  0.408755          0.300440              0.877193
7  0.237487  0.308985  0.417563          0.308389              0.867720
8  0.243647  0.315292  0.445500          0.313186              0.886413
9  0.258763  0.328251  0.431523          0.316600              0.886868